<a href="https://colab.research.google.com/github/DeepInsider/playground-data/blob/master/docs/articles/deeplearning1g1t_lesson08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Copyright 2018 Digital Advantage - Deep Insider.

In [0]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# 「ディープラーニングを始めるための、Pythonデータ構造入門」のノートブック

<table valign="middle">
  <td>
    <a target="_blank" href="https://deepinsider.jp/tutor/deeplearning1g1t/lesson08"> <img src="https://re.deepinsider.jp/img/ml-logo/manabu.svg"/>Deep Insiderで記事を読む</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/DeepInsider/playground-data/blob/master/docs/articles/deeplearning1g1t_lesson08.ipynb"> <img src="https://re.deepinsider.jp/img/ml-logo/gcolab.svg" />Google Colabで実行する</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/DeepInsider/playground-data/blob/master/docs/articles/deeplearning1g1t_lesson08.ipynb"> <img src="https://re.deepinsider.jp/img/ml-logo/github.svg" />GitHubでソースコードを見る</a>
  </td>
</table>

※上から順に実行してください。上のコードで実行したものを再利用しているところがあるため、すべて実行しないとエラーになるコードがあります。  
　すべてのコードを一括実行したい場合は、メニューバーから［ランタイム］－［すべてのセルを実行］をクリックしてください。

※このノートブックは「Python 2」でも実行できるようにしていますが、基本的に「Python 3」を利用することをお勧めします。
　Python 3を利用するには、メニューバーから［ランタイム］－［ランタイムのタイプを変更］を選択すると表示される［ノートブックの設定］ダイアログの、［ランタイムのタイプ］欄で「Python 3」に選択し、その右下にある［保存］ボタンをクリックしてください。

In [0]:
# Python バージョン2への対応
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import sys
print(sys.version_info.major)  # 3  # バージョン（メジャー）
print(sys.version_info.minor)  # 6  # バージョン（マイナー）

## Python言語におけるデータの構造

### Pythonにおける「1つの」データの表現

#### リスト1　「単一の」データを表現するコード

In [0]:
height = 177.2

height  # 177.2と出力される

#### リスト2-1　「単一の」データを複数書いて表現するコード

In [0]:
hana_height = 165.5
taro_height = 177.2
jiro_height = 183.2

hana_height, taro_height, jiro_height  # (165.5, 177.2, 183.2)

#### リスト2-2　「複数（1次元）の」データを表現するコード

In [0]:
heights = [ 165.5, 177.2, 183.2 ]

heights  # [165.5, 177.2, 183.2]

### Pythonにおける「複数（2次元）の」データの表現

#### リスト3　「複数（2次元）の」データを表現するコード

In [0]:
people = [ [ 165.5, 58.4 ],
           [ 177.2, 67.8 ],
           [ 183.2, 83.7 ] ]

people  # [165.5, 177.2, 183.2]

### Pythonにおける「複数（多次元）の」データの表現

#### リスト4　「複数（3次元）の」データを表現するコード

In [0]:
list3d = [
  [ [ 165.5, 58.4 ], [ 177.2, 67.8 ], [ 183.2, 83.7 ] ],
  [ [ 155.5, 48.4 ], [ 167.2, 57.8 ], [ 173.2, 73.7 ] ],
  [ [ 145.5, 38.4 ], [ 157.2, 47.8 ], [ 163.2, 63.7 ] ]
]

list3d  # [[[165.5, 58.4], [177.2, 67.8], [183.2, 83.7]],
        #  [[155.5, 48.4], [167.2, 57.8], [173.2, 73.7]],
        #  [[145.5, 38.4], [157.2, 47.8], [163.2, 63.7]]]

## AIプログラムにおけるデータの構造（基本編）

### NumPyのインストール

#### リスト5-1　`numpy`パッケージをインストールするためのシェルコマンド

In [0]:
!pip install numpy

### numpyモジュールのインポート

#### リスト5-2　`numpy`モジュールをインポートするコード例

In [0]:
import numpy as np

### NumPyのデータ型「多次元配列」オブジェクトの作成

#### リスト5-3　`array`関数で多次元配列を作成するコード例（値使用）

In [0]:
array2d = np.array([ [ 165.5, 58.4 ],
                     [ 177.2, 67.8 ],
                     [ 183.2, 83.7 ] ])

array2d  # array([[165.5,  58.4],
         #        [177.2,  67.8],
         #        [183.2,  83.7]])

#### リスト5-4　`array`関数で多次元配列を作成するコード例（変数使用）

In [0]:
array3d = np.array(list3d)

array3d  # array([[[165.5,  58.4],
         #         [177.2,  67.8],
         #         [183.2,  83.7]],
         # 
         #        [[155.5,  48.4],
         #         [167.2,  57.8],
         #         [173.2,  73.7]],
         # 
         #        [[145.5,  38.4],
         #         [157.2,  47.8],
         #         [163.2,  63.7]]])

#### リスト5-5　`ndarray`クラスの`tolist()`メソッドで多次元リストに変換するコード例

In [0]:
tolist3d = array3d.tolist()

tolist3d  # [[[165.5, 58.4], [177.2, 67.8], [183.2, 83.7]],
          #  [[155.5, 48.4], [167.2, 57.8], [173.2, 73.7]],
          #  [[145.5, 38.4], [157.2, 47.8], [163.2, 63.7]]]

##  AIプログラムにおけるデータの構造（応用編）

In [0]:
import pandas as pd
df = pd.DataFrame(array2d, columns=['身長', '体重'])
df

## AIプログラムにおけるデータの計算

### AI・ディープラーニングで数学を使う理由

#### リスト6-1　3人の身長の平均を計算するコード例（個別の値を使用）

In [0]:
# hana_height = 165.5, taro_height = 177.2, jiro_height = 183.2 # リスト2-1で宣言済み

average_height = (
  hana_height + 
  taro_height + 
  jiro_height 
) / 3

print(average_height)  # 175.29999999999998

#### リスト6-2　3人の身長と体重の平均を計算するコード例（多次元配列を使用）

In [0]:
import numpy as np

array1d = np.array([ 165.5, 177.2, 183.2 ])

average_height = np.average(array1d)

average_height  # 175.29999999999998

### NumPyを使った計算

#### リスト7-1　3人の身長と体重の平均を計算するコード例（3行2列の2次元配列）

In [0]:
array2d = np.array([ [ 165.5, 58.4 ],
                     [ 177.2, 67.8 ],
                     [ 183.2, 83.7 ] ])

print(array2d.shape)  # (3, 2)
print(array2d.ndim)   # 2
print(array2d.size)   # 6

#### リスト7-2　NumPyを使った行列計算

In [0]:
diet = np.array([ [ 1.0, 0.0 ],
                  [ 0.0, 0.9 ] ])

lose_weights = diet @ array2d.T
# Python 3.5以降の場合。それ以前のPython 2系などの場合は、以下のmatmul関数を使う必要がある
#lose_weights = np.matmul(diet, array2d.T)

print(lose_weights.T)  # [[165.5   52.56]
                       #  [177.2   61.02]
                       #  [183.2   75.33]]

#### リスト7-3　全要素の平均値を算出（身長／体重別ではない）

In [0]:
averages = np.average(array2d)

averages  # 122.63333333333334

#### リスト7-4　身長／体重別の平均値を算出

In [0]:
averages = np.average(array2d, axis=0)

averages  # array([175.3       ,  69.96666667])

#### リスト7-5　3次元配列データで各グループごとの身長／体重別の平均値を算出

In [0]:
array3d = np.array(
  [ [ [ 165.5, 58.4 ], [ 177.2, 67.8 ], [ 183.2, 83.7 ] ],
    [ [ 155.5, 48.4 ], [ 167.2, 57.8 ], [ 173.2, 73.7 ] ],
    [ [ 145.5, 38.4 ], [ 157.2, 47.8 ], [ 163.2, 63.7 ] ] ]
)

avr3d = np.average(array3d, axis=1)

print(avr3d)  # [[175.3         69.96666667]
              #  [165.3         59.96666667]
              #  [155.3         49.96666667]]

## Python言語文法（応用編）

### if 条件式

#### リスト8-1　条件分岐を行う「文」のコード例

In [0]:
predicted_label = '猫'
true_label = '犬'
# 上の2行は下記コードの実行に必要な仮のコード

if predicted_label == true_label:
  color = 'blue'
else:
  color = 'red'

color  # 'red'と出力される

#### リスト8-2　条件分岐を行う「式」のコード例

In [0]:
color = 'blue' if predicted_label == true_label else 'red'

color  # 'red'と出力される

### and／or／not 論理演算子

#### リスト9-1　複数の条件指定を複数の`if`文で記述したコード例

In [0]:
cond_num = 98
cond_str = '猫'
# 上の2行は下記コードの実行に必要な仮のコード

if cond_num == 100:
  if cond_str == '犬':
    answer = 'OK'
  else:
    answer = 'NG'
else:
    answer = 'NG'

answer  # 'NG'と出力される

#### リスト9-2　複数の条件指定を1つの`if`文と論理演算子で記述したコード例

In [0]:
if cond_num == 100 and cond_str == '犬':
  answer = 'OK'
else:
  answer = 'NG'

answer  # 'NG'と出力される

#### リスト9-3　論理演算子`not`で否定条件を記述したコード例

In [0]:
if not cond_num == 100 or not cond_str == '犬':
  answer = 'NG'
else:
  answer = 'OK'

answer  # 'NG'と出力される

### ラムダ式

#### リスト10-1　`def`文により関数を定義するコード例

In [0]:
def add_func(arg_x, arg_y):
  return arg_x + arg_y

sum = add_func(101, 234)

sum  # 335

#### リスト10-2　`lambda`式により関数を定義するコード例

In [0]:
add_lambda = lambda arg_x, arg_y: arg_x + arg_y

sum = add_lambda(101, 234)

sum  # 335

In [0]:
heights = [ 165.5, 177.2, 183.2 ]

sorted_heights = sorted(heights, key=lambda x: x % 10, reverse=True)

sorted_heights  # [177.2, 165.5, 183.2]

#### リスト10-4　`def`文で定義したアルゴリズムをコールバック関数として指定するコード例

In [0]:
def sort_algo(arg_x):
  return arg_x % 10

sorted_heights = sorted(heights, key=sort_algo, reverse=True)

sorted_heights  # [177.2, 165.5, 183.2]

In [0]:
no_arg_lambda = lambda: 'no argument'

print(no_arg_lambda())  # no argument

### リスト内包表記

#### リスト11-1　for文によりループ処理を記述したコード例

In [0]:
for i in range(5):
  print(i+1)

# 1
# 2
# 3
# 4
# 5

#### リスト11-2　リスト内包表記によりループ処理を記述したコード例

In [0]:
new_list = [i+1 for i in range(5)]
print(new_list)  # [1, 2, 3, 4, 5]

_ = [print(j) for j in new_list]
# 1
# 2
# 3
# 4
# 5

### 例外

#### リスト12-1　ファイルを開いて読み取るコード例

In [0]:
# f = open('data.csv')
# lines = f.readlines()
# f.close()

#### リスト12-2　ファイルを開いて読み取るコード例

In [0]:
try:
  f = open('data.csv')
  print('ファイルは正常に開けました。')

except FileNotFoundError as e:
#except IOError as e:
  print('ファイルがないようです。')
  print(e)
  #raise # コメントアウトを外すと例外が再発行されます

except:
  print('何らかの例外が発生しました。')
  raise

finally:
  print('ここは常に最後に実行される。')
  
#lines = f.readlines()
#f.close()

## Python 標準ライブラリ

#### リスト13　インポートした`os`モジュールでOS情報を出力するコード例

In [0]:
import os

print(os.uname())  # posix.uname_result(sysname='Linux', nodename='x0x0x0', release='4.14.65+', version='#1 SMP Sun Sep 9 02:18:33 PDT 2018', machine='x86_64')

## お疲れさまでした。基本文法の学習は修了です。